{% extends "layout.html" %}
{% block title %}
  Portrait Gallery
{% endblock %}
{% block body %}
  <h2>Adopt a portrait</h2>
  <p>The following persons are still unattached. Speak on behalf of the subjects of <a href="https://de.wikipedia.org/wiki/Carl_Durheims_Fahndungsfotografien_von_Heimatlosen" target="_blank">Carl Durheim's photographs</a> by adopting a historic identity from one of these portraits:</p>
  <ul class=portraits>
    {% for portrait in portraits %}
      <li>
        <a href="/portraits/select/{{ portrait._id }}">
        <img height="80" src="/static/portraits-images/{{ portrait.filename }}.jpg"></a></li>
    {% endfor %}
  </ul>
{% endblock %}
