{% extends "layout.html" %}
{% block title %}
  {% if request.endpoint == 'public_timeline' %}
    Public Timeline
  {% elif request.endpoint == 'user_timeline' %}
    {{ profile_user.username }}'s Timeline
  {% else %}
    My Timeline
  {% endif %}
{% endblock %}
{% block body %}
  <h2>{{ self.title() }}</h2>
  {% if g.user %}
    {% if request.endpoint == 'user_timeline' %}
      {% if portrait and portrait.name != "" %}
        <div class=metadesc>
          <img src="/static/portraits-images/{{ portrait.filename }}.jpg">
          <h3>{{ portrait.name }}</h3>
          <p>{{ portrait.description|safe }}</p>
        </div>
      {% endif %}
      <div class=followstatus>
        {% if g.user._id == profile_user._id %}
          This is you!
        {% elif followed %}
          You are currently following this user.
          <a class=unfollow href="{{ url_for('unfollow_user', username=profile_user.username)
                  }}">Unfollow user</a>.
        {% else %}
          You are not yet following this user.
          <a class=follow href="{{ url_for('follow_user', username=profile_user.username)
                  }}">Follow user</a>.
        {% endif %}
      </div>
    {% elif request.endpoint == 'timeline' or request.endpoint == 'public_timeline' %}
      <div class=twitbox>
        <form action="{{ url_for('add_message') }}" method=post>
          <p><input type=text name=text><!--
          --><input type=submit value="Speak!">
        </form>
      </div>
    {% endif %}
  {% endif %}
  <ul class=messages>
    {% for message in messages %}
      <li>
        <a href="{{ url_for('user_timeline', username=message.username) }}?pid={{ message.portrait_id }}">
            <img src="/static/portraits-images/{{ message.portrait_file }}" alternate="{{ message.email|gravatar(size=48) }}">
          </a>
        <p>
        <small>{{ message.username }}</a> as </small>
        <strong><a href="{{ url_for('user_timeline', username=message.username)
                }}">
          {% if message.portrait_name %}
            {{ message.portrait_name }}
          {% else %}
            Anonymous glammie
          {% endif %}
        </a></strong>
        <p class="text">&mdash; {{ message.text }}</p>
        <small>{{ message.pub_date|datetimeformat }}</small>
        {% else %}
      <li><em>There's no message so far.</em>
    {% endfor %}
  </ul>
{% endblock %}
